@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

body {
  margin: 0;
  padding-top: 10px;
  font-family: 'Josefin Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 15px;
  padding: 0;
}

.buttonDiv {
  text-align: center;
  margin-top: 10px;
}

.on-button {
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid #ffc00e;
  color: #ffc00e;
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 4px;
}

.on-button:hover {
  background: #ffc00e;
  color: white;
}

.off-button {
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid #8a8a8a;
  color: #8a8a8a;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 4px;
}

.off-button:hover {
  background: #8a8a8a;
  color: white;
}

